#header-logo {
  padding-left: max(390px, calc((var(--vw, 1vw) * 50) - 200px));
  transition: 0.4s;
  height: 70vh;
  width: 100vw;
  padding-top: calc(70vh - 450px);
  text-align: left;
}

#header-logo.active {
  height: 0px;
  padding-top: 0px;
  padding-left: 30px;
}

#logo-img {
  width: 400px;
  height: 400px;
  transition: 0.4s;
  z-index: 0;
}

#logo-img.active {
  width: 56px;
  height: 56px;
}

@media only screen and (max-width: 550px) {
  #header-logo {
    padding-left: calc((var(--vw, 1vw) * 50) - 100px);
    padding-top: 25vh;
  }

  #header-logo.active {
    padding-left: 0px;
  }

  #logo-img {
    width: 200px;
    height: 200px;
  }

  #logo-img.active {
    width: 56px;
    height: 56px;
  }
}